<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @manually_added_game.title %>
</p>

<%= link_to 'Edit', edit_manually_added_game_path(@manually_added_game) %> |
<%= link_to 'Back', manually_added_games_path %>
