<%= form_with(model: gamedb, local: true) do |form| %>
  <% if gamedb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gamedb.errors.count, "error") %> prohibited this gamedb from being saved:</h2>

      <ul>
        <% gamedb.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
