<div id="gamefailed" class="alert alert-danger alert-dismissible fade show" role="alert">
    Something went wrong. Please recheck and try again..
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">      
        <span aria-hidden="true">&times;</span>
    </button>
</div>