<% if @search_method == 'name' %>
    <%= 'name' %>
<% elsif @search_method == 'platform' %>
    <%= 'platform' %>
<% elsif @search_method == 'store' %>
    <%= 'store' %>
<% else %>
    <%= 'ERROR' %>
<% end %>


<table class="table table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Release Date</th>
        </tr>
    </thead>
    <tbody>
   
    </tbody>
</table>