  <!-- just using as template -->
  <!-- app/views/travel/search.html.erb -->
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6">
        <h4>Game info</h4>
          <tbody>
            <% if @results.any? %>
            <div>
              <% @results.each do |game| %>
                <%= game["platforms"] %>
              <% end %>
              <% else %>
                <p>No results</p>
              <% end %>
            </div>
          </tbody>
        </dl>
      </div>
  
    </div>
  </div>