<% if user_signed_in? %>

    <%= render "/partials/search" %>

    <div id="error_explanation"></div>

    <div id="results"></div>

    <%= render "/partials/initialtable" %>
<% else %>
<h1>Hello World!</h1>
This is my first Rails Webpage...
<% end %>