@import "rails_bootstrap_forms";

#game-search {
    width: 100vw;
}

.form-group > label {
    display: none;
}

#game, #platform_list, #store_list {
    width: 100%;
}


@media only screen and (min-width: 768px) {

/* Game search input bars */


}
@media only screen and (min-width: 1280px){

    /*Game search input bars */
    #game, #platform_list, #store_list {
        width: 300px;
    }
    
}