@import "bootstrap";
@import "rails_bootstrap_forms";



@media only screen and (min-width: 768px) {

/* Game search input bars */
.form-group > .form-control {
    width: 90%;
}

.input-group {
    position: relative;
}


/*Game search button */

.input-group > .col-md > .btn {
    position: absolute !important;                  
    bottom: 0;                          
    right: 0; 
    width: 70px;
    height: 40px;
}

}

@media only screen and (min-width: 1079px){

    /*Game search input bars */

    .form-group > .form-control {
        width: 85%;
    }

    /*Game search button */
    .input-group > .col-md > .btn {
        width: 100px;
        height: 40px;
    }    
}