<h1>Editing Manually Created Game</h1>

<%= render 'form', manually_created_game: @manually_created_game %>

<%= link_to 'Show', @manually_created_game %> |
<%= link_to 'Back', manually_created_games_path %>
